In [1]:
'''<-------------------------------->MOVIE RECOMMENDATION SYSTEM <----------------------->'''

'<-------------------------------->MOVIE RECOMMENDATION SYSTEM <----------------------->'

In [2]:
#import pandas,numpy and seaborn
import pandas as pd
import numpy as np

In [3]:
# !pip install modin[ray]

In [4]:
#reading the credits and movies csv files
credits=pd.read_csv("D:\\ML\\tmdb_5000_credits.csv")
# # movies=pd.read_csv("D:\\ML\\tmdb_5000_movies.csv")
credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [5]:
movies=pd.read_csv("C:\\Users\\orsur\\Downloads\\newdata.csv")
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,rating
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,10/12/2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,10.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,19/05/2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,10.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,26/10/2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,10.0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,16/07/2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,10.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,07/03/2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,04/09/1992,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,7.5
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,26/12/2011,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,7.5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,13/10/2013,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,7.5
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,03/05/2012,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,7.5
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,05/08/2005,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,7.5

In [6]:
#sample keywords of Avatat movie
movies[movies['original_title']=='Avatar']['keywords'].values
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,rating
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,10/12/2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,10.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,19/05/2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,10.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,26/10/2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,10.0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,16/07/2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,10.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,07/03/2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,04/09/1992,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,7.5
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,26/12/2011,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,7.5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,13/10/2013,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,7.5
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,03/05/2012,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,7.5
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,05/08/2005,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,7.5

In [29]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [30]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,rating,movie_id,cast,crew
0,237000000,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...",http://www.avatarmovie.com/,19995,"[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,10.0,19995,"[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
1,300000000,"[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...",http://disney.go.com/disneypictures/pirates/,285,"[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,10.0,285,"[[, {, "", c, a, s, t, _, i, d, "", :, , 4, ,, ,...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."

In [31]:
 #mergeing the movies and credits
movies=movies.merge(credits,on='title')

In [32]:
movies.merge(credits,on='title').shape

(4845, 30)

In [33]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,title,vote_average,vote_count,rating,movie_id_x,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,237000000,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...",http://www.avatarmovie.com/,19995,"[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Avatar,7.2,11800,10.0,19995,"[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [34]:
# requried columns:
# 1.genres
# 2.id
# 3.keywords
# 4.original title
# 5.overview
# 6.crew and cast

In [35]:
movies=movies[['id','genres','keywords','original_title','overview','cast_x','crew_x','rating']]

In [36]:
movies.head(1)

,id,genres,keywords,original_title,overview,cast_x,crew_x,rating
0,19995,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",10.0

In [37]:
movies.rename(columns = {'cast_x':'cast'}, inplace = True)
movies.rename(columns = {'crew_x':'crew'}, inplace = True)
movies.head(1)

,id,genres,keywords,original_title,overview,cast,crew,rating
0,19995,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",10.0

In [38]:
movies.isnull().sum()

id                0
genres            0
keywords          0
original_title    0
overview          3
cast              0
crew              0
rating            0
dtype: int64

In [39]:
movies.dropna(inplace=True)

In [40]:
movies.isnull().sum()

id                0
genres            0
keywords          0
original_title    0
overview          0
cast              0
crew              0
rating            0
dtype: int64

In [46]:
movies.duplicated().sum()

TypeError: unhashable type: 'list'

In [42]:
'''keywords from genres
The ast module helps Python applications to process trees of the Python abstract syntax grammar'''
import ast
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [47]:
movies['genres']=movies['genres'].apply(convert)

ValueError: malformed node or string: ['[', '{', '"', 'i', 'd', '"', ':', '', '2', '8', ',', '', '"', 'n', 'a', 'm', 'e', '"', ':', '', '"', 'A', 'c', 't', 'i', 'o', 'n', '"', '}', ',', '', '{', '"', 'i', 'd', '"', ':', '', '1', '2', ',', '', '"', 'n', 'a', 'm', 'e', '"', ':', '', '"', 'A', 'd', 'v', 'e', 'n', 't', 'u', 'r', 'e', '"', '}', ',', '', '{', '"', 'i', 'd', '"', ':', '', '1', '4', ',', '', '"', 'n', 'a', 'm', 'e', '"', ':', '', '"', 'F', 'a', 'n', 't', 'a', 's', 'y', '"', '}', ',', '', '{', '"', 'i', 'd', '"', ':', '', '8', '7', '8', ',', '', '"', 'n', 'a', 'm', 'e', '"', ':', '', '"', 'S', 'c', 'i', 'e', 'n', 'c', 'e', '', 'F', 'i', 'c', 't', 'i', 'o', 'n', '"', '}', ']']

In [44]:
movies.head()

,id,genres,keywords,original_title,overview,cast,crew,rating
0,19995,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",10.0
1,285,"[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[[, {, "", c, a, s, t, _, i, d, "", :, , 4, ,, ,...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",10.0
2,206647,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...",Spectre,A cryptic message from Bondâ€™s past sends him o...,"[[, {, "", c, a, s, t, _, i, d, "", :, , 1, ,, ,...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",10.0
3,49026,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[[, {, "", c, a, s, t, _, i, d, "", :, , 2, ,, ,...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",10.0
4,49529,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...",John Carter,"John Carter is a war-weary, former military ca...","[[, {, "", c, a, s, t, _, i, d, "", :, , 5, ,, ,...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...",10.0

In [ ]:
movies['keywords']=movies['keywords'].apply(convert)

In [ ]:
movies.head(2)

In [14]:
#keywords from 
def convertcast(obj):
    l=[]
    c=0
    for i in ast.literal_eval(obj):
        if c!=3:
            l.append(i['name'])
            c=c+1
        else:
            break
    return l

In [15]:
movies['cast']=movies['cast'].apply(convertcast)

NameError: name 'ast' is not defined

In [ ]:
movies.head(2)

In [ ]:
def convert_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if(i['job']=='Director'):
            l.append(i['name'])
            break
    return l

In [ ]:
movies['crew']=movies['crew'].apply(convert_director)

In [ ]:
movies.head(2)

In [16]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

AttributeError: 'float' object has no attribute 'split'

In [ ]:
movies.head(2)

In [17]:
#removing the space between the names
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [18]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,rating,movie_id,cast,crew
0,237000000,"[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...",http://www.avatarmovie.com/,19995,"[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,10.0,19995,"[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
1,300000000,"[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...",http://disney.go.com/disneypictures/pirates/,285,"[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,10.0,285,"[[, {, "", c, a, s, t, _, i, d, "", :, , 4, ,, ,...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."

In [28]:
movies['tages']=movies['genres']+movies['keywords']+movies['overview']+movies['cast']+movies['crew']

TypeError: can only concatenate list (not "str") to list

In [ ]:
movies.head(14)

In [ ]:
'''required data of id,title,tages'''
new_data=movies[['id',"original_title",'tages','rating']]

In [ ]:
new_data.head(2)

In [ ]:
#for testing
new_data[new_data['original_title']=='Avatar']['rating']

In [ ]:
new_data['tages']=new_data['tages'].apply(lambda x:" ".join(x))

In [ ]:
new_data.head(2)

In [ ]:
new_data['tages']=new_data['tages'].apply(lambda x:x.lower())

In [ ]:
new_data.head(2)

In [ ]:
'''T(NLTK) is a platform used for building Python programs that work with
human language data for applying in statistical natural language processing (NLP)'''

import nltk

In [ ]:
'''the Porter stemming algorithm (or 'Porter stemmer') is a process for removing the 
commoner morphological and inflexional endings from words in English'''

from nltk.stem import PorterStemmer
stemmer=PorterStemmer()

In [ ]:
def stem(text):
    k=[]
    for i in text.split():
        k.append(stemmer.stem(i))
    return " ".join(k)

In [ ]:
new_data['tages']=new_data['tages'].apply(stem)

In [ ]:
new_data.head(2)

In [ ]:
'''Scikit-learn's CountVectorizer is used to convert a collection of text documents to a vector of term/token counts.
It also enables the â€‹pre-processing of text data prior to generating the vector representation. 
This functionality makes it a highly flexible feature representation module for text.'''

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
cv= CountVectorizer(max_features=5000,stop_words='english')
tv= TfidfVectorizer(max_features=5000,stop_words='english')

In [ ]:
vectors=cv.fit_transform(new_data['tages']).toarray()
vectors2=tv.fit_transform(new_data['tages']).toarray()

In [ ]:
tv.fit_transform(new_data['tages']).toarray().shape

In [ ]:
cv.fit_transform(new_data['tages']).toarray().shape

In [20]:
#cv.get_feature_names()

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

C:\Users\orsur\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [22]:
#Compute cosine similarity between samples in X and Y
similarity=cosine_similarity(vectors)
similarity2=cosine_similarity(vectors2)

NameError: name 'vectors' is not defined

In [ ]:
#recommend function is used printing the top 5 related movies
def recommend(movie):
    movie_index=new_data[new_data['original_title']==movie].index[0]
    distance=similarity[movie_index]
    movie_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:11]
    r=[]
    m=[]
    rt=[]
    k=1
    for i in movie_list:
        r.append(int(new_data[new_data['original_title']=="{}".format(new_data.iloc[i[0]].original_title)]['rating']))
        m.append(new_data.iloc[i[0]].original_title)
        print("{} ->{}".format(k,new_data.iloc[i[0]].original_title))
        k=k+1
    for i in range(10):
        
        rt.append(r[i])
        
    s = np.array(rt)
    c=1
    j=1
    sort_index = np.argsort(s)
    print("<------------------****Top 5 rated movies among the above 10 movies****------------------>")
    for i in sort_index[::-1]:
        if(c<=5):
            print("{} ->{}".format(j,m[i]))
            c=c+1
            j=j+1

In [ ]:
def recommend2(movie):
    movie_index=new_data[new_data['original_title']==movie].index[0]
    distance=similarity2[movie_index]
    movie_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:11]
    r=[]
    m=[]
    rt=[]
    k=1
    for i in movie_list:
        r.append(float(new_data[new_data['original_title']=="{}".format(new_data.iloc[i[0]].original_title)]['rating']))
        m.append(new_data.iloc[i[0]].original_title)
        print("{} ->{}".format(k,new_data.iloc[i[0]].original_title))
        k=k+1
    for i in range(10):
        
        rt.append(r[i])
    print(r)
    s = np.array(rt)
    c=1
    j=1
    tm=[]
    sort_index = np.argsort(s)
    print("<------------------****Top 5 rated movies among the above 10 movies****------------------>")
    for i in sort_index[::-1]:
        if(c<=5):
            tm.append(m[i])
#             print("{} ->{}".format(j,m[i]))
            c=c+1
            j=j+1
    print(tm)

### Countvector

In [ ]:
recommend("Quantum of Solace")

### Tfidfvector

In [23]:

recommend2("Quantum of Solace")

NameError: name 'new_data' is not defined

In [24]:
## Pickle in Python is primarily used in serializing and deserializing a Python object structure
import pickle

In [25]:
#The dump() method of the pickle module in Python, converts a Python object hierarchy into a byte stream.
#converting the data into dict
pickle.dump(new_data.to_dict(),open('movies.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

NameError: name 'new_data' is not defined

In [26]:
#converting the data into dict
pickle.dump(new_data.to_dict(),open('updated.pkl','wb'))

NameError: name 'new_data' is not defined

In [27]:
new_data

NameError: name 'new_data' is not defined